
/* Structure */

body
{ 
    background: rgb(240, 158, 158);
    font-family: Arial, Helvetica, sans-serif; 
    
}

#content 
{ 
    background: rgb(217, 95, 105); 
    padding: 5px;
    margin: 20px auto;
    width:70%; 
    border-radius: 10px;
    border:5px solid black; 
}
/* Navigation*/
#main-nav ul
{ 
    padding-left:0; /* removes left padding*/
    /*centering*/ 
    width:fit-content; 
    margin: auto; 
}
#main-nav li 
{ 
    list-style-type: none; /* no bullets*/
    display:inline-block; /* appear on one line*/ 
}
#main-nav a 
{
    text-decoration: none; /* no underline*/ 
    color: black; 
    background: white; 
    padding:5px; 
    margin:5px; 
    border-radius:2px; 
}
#main-nav a:hover
{ 
    background:rgb(240, 158, 158);  
    color:rgb(217, 95, 105);  
}


/* Typography */


h1{ 
    color: rgb(10, 0, 9); 
}
p{ 
    color: rgb(10, 8, 11); 
}