body {
	background: #FFC0CB;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: #191970;
	text-align: center;
}

.assign {
	display: flex;
	padding: 10px;
	margin: 10px;
	background: #D3D3D3;
}
.assign img {
	width: 200px;
	padding: 10px;
}
