

html 
{ 
    background-color: blanchedalmond;
}
#heading
{ 
    text-align: center;
}
#content
{ 
  text-align: center; 
  background-color: lightgray;
  align-items: center;
}
#star-box
{ 
  text-align: center;

}
#txt-box
{
  background-color: aqua;
  text-align: center;
}
#txt
{ 
  text-align: center;
}
 
#box
{ 
    width: 300px;
    height: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    background-color:  black;
    position: relative; 
    justify-content: center;
    align-items: center;
}

/* css taken from https://css-shape.com/star/*/
.star {
    width: 30px;  
    aspect-ratio: 1;
    background: #F8CA00;
    clip-path: polygon(50% 0,
      calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
      calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
     ); 
    
    position: absolute; 

  }

@media only screen and (min-width:600px)
{
 
#txt-box
{
  display: flex;
}
 
#box
{ 
  display: flex;
}
}
 