/*body*/
#body
{
    font-family: Arial, Helvetica, sans-serif;
}

/*Content 1*/ 
#content-1
{ 
    background-color: #000000;
}
#content-1 a 
{
  text-decoration: none;  
  color: white;
}
#top-of-page ul
{ 
    padding-left:0; 
}
#top-of-page li
{ 
    list-style:none;
    display:inline;
}
#top-of-page a
{
    text-decoration: none; 
    padding:5px;  
    color: white; 
    display: flex;
}

/*Content 2*/ 
#content-2
{ 
    background-color: #73010A;
}
#content-2 a 
{ 
    text-decoration: none;  
    color: white;
}
#main_nav ul
{ 
    padding-left:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#main_nav li
{ 
    list-style:none; 
    display:inline;
    float: left;
}
#main_nav li a:hover
{
    background-color: #570108; 
}
#main_nav a
{
    text-decoration: none; 
    padding:5px;  
    color: white; 
    display: block;
    text-align: center;
    padding: 14px 16px;
}
/*Content 3*/
#content-3 img
{ 
    width:100%;
}

/*Content 4*/ 
#content-4
{ 
    background-color: #73010A;
}
#content-4 h1 
{
    text-decoration: none;  
    color: white;
}

/*Content 5*/ 
#content-5
{ 
    background-color: #FFFFFF;
}

/*Content 6*/ 
#content-6
{ 
    background-color: #73010A;
}
#content-6 h2
{
    text-decoration: none;  
    color: white;
}
#content-6 h4
{
    text-decoration: none;  
    color: white;
}
#content-6 a
{
    text-decoration: none;  
    color: white;
}

/*Content 7*/ 
#content-7
{ 
    background-color: #ECECEC;
}
#content-7 h2
{
    text-decoration: none;  
    color:#73010A;
}
#content-7 h4
{
    text-decoration: none;  
    color:#000000;
}
#content-7 a
{
    text-decoration: none;  
    color:#FFFFFF;
    background-color:#73010A;
}

/*Content 8*/ 
#content-8
{ 
    background-color: #FFFFFF;
}
#content-8 h1
{ 
    color: #73010A;
    
}
#content-8 h2
{ 
    color:#73010A;
}
#content-8a
{
    display:inline-block;
}
#content-8b
{
    display:inline-block;
}#content-8c
{
    display:inline-block;
}
#content-8d
{
    display:inline-block;
}


/*Content 9*/ 
#content-9
{ 
    background-color: #000000;
}
#content-9 h2
{ 
    color:#FFFFFF;
}
#content-9 h4
{ 
    color:#FFFFFF;
}
#content-9 a
{
    text-decoration: none;  
    color:#FFFFFF;
    background-color:#73010A;
}

/*Footer 1*/ 
#footer-1
{ 
    background-color: #73010A;
}
#footer-1 h2
{
    color:#FFFFFF;
}
#footer-1 h1
{
    color:#FFFFFF;
}   

/*Footer 2*/ 
#footer-2
{ 
    background-color: #000000;
}
#footer-2 a
{
    color:#FFFFFF; 
}

/*IMG*/ 
img
{ 
  max-height: 150px;
  max-width: 300px;
}

/* apply to 600px or bigger */
@media only screen and (min-width:600px){
    #main-nav ul 
    {   
        display: flex; 
    }
    .columns
    { 
        display:flex; 
    }
    .one
    { 
        flex:1;
    }
    .two
    { 
        flex:2; 
    }
    .three
    { 
        flex:3; 
    }
    .four
    { 
        flex:4; 
    }
    #main_nav li{ 
        flex:1;
    }
    
}