
html 
{ 
    background-color: blanchedalmond;
}
#heading
{ 
    text-align: center;
}

.pic-div {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #0000ff;
    align-items: center;
    flex-wrap:  wrap;
    flex:33%; 
    
}
#image-name
{
    text-align: center;
    background-color: aqua;
}

#pictures-list
{ 
    display: block;
    flex: 33%;
    justify-content: center;
}

img {
    width: 150px;
    height:150px;
    padding: 10px; 

}

#copy
{ 
    text-align: center;
    background-color: aqua;
}


/* apply to 600px or bigger */
@media only screen and (min-width:600px)
{
    .columns
    { 
        display:flex; 
    }
    .one
    { 
        flex:1;
    }
    .two
    { 
        flex:2; 
    }
    #picture-list 
    { 
        display: flex;
    }
}