
html 
{ 
    background-color: blanchedalmond;
}
#heading
{ 
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: blue;
    align-items: center;
}


img {
    width: 100px;
    height:100px; 
}


/* apply to 600px or bigger */
@media only screen and (min-width:600px)
{
    .columns
    { 
        display:flex; 
    }
    .one
    { 
        flex:1;
    }
    .two
    { 
        flex:2; 
    }
}