:root {
    --primary-color: #54aeb8;
    --secondary-color: #f2f2f1; 
    --third-color:#eeaeae;
    --background-color:#F1sF2E9;
    --text-color: white; 
    --slider-color:lightgray; 
}

html
{ 
    background-color: var(--background-color);
}

#heading h1
{ 
    color: var(--primary-color); 
    font-size: 24px;
    text-align: center;
}
#heading h2
{ 
    color: var(--third-color); 
    font-size: 20px;
    text-align: center;
}

/* Navigation*/
#nav-items ul
{ 
    padding-left:0;
    align-items: center;
}
#nav-items li
{ 
    list-style:none; 
    padding: 5px;
    margin: 0.5px;
    display: inline; 
    align-items: center;
}
#nav-items a
{
    text-decoration: none; 
    color: var(--third-color); 
    align-items: center;
}
#nav-items a::after 
{ 
    content: "|";
}
#toggle-nav div {
    width:25px;
    height:2px;
    background-color:black;
    margin:6px 0;
  }

  /*color slider*/ 
  #exercise-1
  {
    background: var(--sixth-color); 
    padding: 10px; 
    margin: 20px; 
    width:70%; 
    border-radius: 30px;  
    border:5px solid var(--primary-color);
  }
  

  /* picture*/ 
#exercise-2
  {
    background: var(--sixth-color); 
    padding: 10px; 
    margin: 20px; 
    width:70%; 
    border-radius: 30px;  
    border:5px solid var(--primary-color);
  }
  





/* Visibility */
.hidden {
    display:none;
  }
  
  .hidden-small {
    display:none;
  }


@media only screen and (min-width: 600px) {

    #toggle-nav {
      display:none;
    }
  
    .hidden-small {
      display:flex;
    }



make a box-color