/*Structure*/ 
:root
{ 
  --background-color: #cce6fd;
  --gray-color:#e9ecef;
  --border-color:#023047; 
  --blue-color:#023047; 
}

body
{ 
    background: var(--gray-color);  
    font-family: Arial, Helvetica, sans-serif; 
    color:var(--blue-color);
  }

#heading
{
  padding: 10px; 
  margin-bottom: 0px; 
  width:70%; 
  padding-left:0;
  margin: auto; 
  width:fit-content;
  font-size: large;
  text-align: center;
}

#categoryname
{ 
  background-color:#023047;
  color:#cce6fd;
  text-align: center;
}
#assignment-pages
{ 
  text-align: center;
}


#assignment-1
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#assignment-2
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px; 
  border:5px solid var(--border-color);
}
#assignment-3
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#assignment-4
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#assignment-5
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;   
  border:5px solid var(--border-color);
}
#assignment-6
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;   
  border:5px solid var(--border-color);
}
#assignment-7
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#assignment-8
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#assignment-9
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#assignment-10
{
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#photo
{ 
  border: 5px solid var(--blue-color);
}



#project-pages
{ 
  text-align: center;
}

#Project-1
{ 
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}

a
{
  text-decoration: none;  
  color: var(--blue-color);
}

#Project-2
{ 
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#Project-3
{ 
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#Project-4
{ 
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#Project-5
{ 
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}
#Project-6
{ 
  background: var(--background-color); 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border-radius: 10px;  
  border:5px solid var(--border-color);
}

img
{ 
  max-height: 150px;
  max-width: 300px;
}

/* Media Queries */

/* apply to 600px or bigger */
@media only screen and (min-width:600px)
{
    .columns
    { 
        display:flex; 
    }
    .one
    { 
        flex:1;
    }
    .two
    { 
        flex:2; 
    }
    .three
    { 
        flex:3; 
    }
    .four
    { 
        flex:4; 
    }
    #main_nav li{ 
        flex:1;
    }
    #assignment-pages
    { 
        flex-wrap:wrap; 
    }
    #assignment-pages section
    { 
      flex:33%;
    }
    #project-pages
    { 
        flex-wrap:wrap; 
    }
    #project-pages section
    { 
      flex:33%;
    }

    
}


/* apply to 768px or bigger */
@media only screen and (min-width:768px)
{

}





