:root {
    --primary-color: #5D878C;
    --secondary-color: #F2F0D5; 
    --third-color:#D98282;
    --background-color:#F1F2E9;
    --text-color: white; 
    --slider-color:lightgray; 
}


body
{ 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--background-color);
}
#heading h1
{ 
    color: var(--primary-color);
}
#heading h2
{
    color: var(--third-color);
}   
#counter
{ 
    background-color: var(--primary-color);
    text-align: center;
    color:var(--text-color);
    margin-left: 10px; 
    margin-right: 10px; 

}
button {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
}

#myButton 
{ 
    background-color: var(--primary-color);
    border: none; 
    color: var(--text-color);
    font-size:150px; 

}

#random
{ 
    background-color: var(--secondary-color);
    text-align: center;
    border: 2px;
    border-color: var(--primary-color);
    border-style: solid;
    color: var(--primary-color);
    margin-left: 10px; 
    margin-right: 10px; 

}
#slider
{ 
    background-color: var(--secondary-color);
    text-align: center;
    border: 2px;
    border-color: var(--primary-color);
    border-style: solid;
    color: var(--primary-color);
    margin-left: 10px; 
    margin-right: 10px; 
}
.slidecontainer 
{
    width: 100%; 
    
}
  
.slider 
{ 
    appearance: none;
    width: 100%;
    height: 30px;
    background-color: var(--slider-color);
    outline: none;
    opacity: 0.7;  
    
}

.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none; 
    appearance: none;
    width: 30px; 
    height: 30px; 
    background-color: var(--third-color); 
    cursor: pointer;
  }

  #slider-pic
  {
    color: var(--third-color);
  }


/* apply to 600px or bigger */
@media only screen and (min-width:600px)
{
    .columns
    { 
        display:flex; 
    }
    .one
    { 
        flex:1;
    }
    .two
    { 
        flex:2; 
    }
    .three
    { 
        flex:3; 
    }
    .four
    { 
        flex:4; 
    }

    
}