/*Home Page*/
:root {
    --primary-color: #000000;
    --secondary-color: #bfbfbf; 
    --third-color:#7C191E;
    --fourth-color:rgb(81, 79, 79);
    --fifth-color: #f6eded; 
    --sixth-color: #c9c9c9;
    --seventh-color: #DEDEDE; 
}

html 
{ 
    font-family: Arial, Helvetica, sans-serif;
}
#title
{ 
    text-align:center;
    color: var(--third-color);
    font-size: 40px;
    position: relative;
}

#content {
    width:100%;
}
#header
{ 
    margin: auto;
    text-align: center;
    justify-content: center;
}
#home-pics {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    padding: 20px; /* Add some padding around the image */
    background-color: var(--third-color);
}

#home-pic {
    max-width: 100%; /* Ensures the image scales responsively */
    height: auto; /* Maintain the image's aspect ratio */
    max-height: 100% ;
}

#toggle-nav div {
    width:25px;
    height:2px;
    background-color:black;
    margin:6px 0;
  }

#main-nav ul
{ 
    padding-left:0;
    display: none;
}
#main-nav li
{ 
    list-style:none; 
    background-color: var(--primary-color);
    padding: 5px;
}

#main-nav li:hover {
    background-color:var(--third-color);
}
#main-nav a
{
    text-decoration: none; 
    color: white;
    display: block;
    text-align: center;
    font-size: 20px;
}
/* Visibility */
.hidden {
    display:none;
  }
  
  .hidden-small {
    display: none;
}

#toggle-nav div {
    width:25px;
    height:2px;
    background-color:black;
    margin:6px 0;
    display: block;
  }
  #logo1
{ 
    max-width: 200px;
    max-height: 100px;
    top:0px; 
    right: 3px;  
    padding-left: 20px; 
    padding-right: 20px;
}
#logo2
{ 
    max-width: 200px;
    max-height: 100px;
    top:0px; 
    left: 3px;
    padding-right: 20px; 
    padding-left: 20px; 

}


#page-heading
{ 
    text-align: center;
    font-size:35px;
    font-weight: bold;
    background-color: var(--third-color);
    color:white; 
}
#footer
{
    text-align: center;
    border-top: 2px solid black;
    background-color: var(--primary-color);
    color: var(--seventh-color);
    
}

/* about us*/
#about-us
{ 
    background-color:var(--third-color);
    margin-bottom: 5px;
}
#about-us11
{
    background-color:var(--seventh-color);
    margin: 5px; 
    font-size: 23px;
    border: 2px solid black; 
    box-shadow: 5px 5px;
    padding-left: 15px;  
}
#about-us22
{
    background-color:var(--seventh-color);
    margin: 5px;
    font-size: 23px;
    border: 2px solid black; 
    box-shadow: 5px 5px; 
    padding-left: 15px; 
}

/*contact us*/
#contact-us
{ 
    background-color: var(--third-color);
}
#papa  
{
    background: white; 
    padding: 10px;
    padding-top: 30px;  
    margin: 20px; 
    width:70%;  
    border:5px solid black; 
    text-align: center;
    box-shadow: 5px 5px;
    font-size: 25px;
    align-items: center;
    /*display: block;*/
}
#papa-pic
{ 
    max-width: 300px;
    max-height: 300px;
    display:block;
    margin:auto;
}
#mom      
{
background: white; 
  padding: 10px;
  padding-top: 30px;  
  margin: 20px; 
  width:70%;  
  border:5px solid black; 
  text-align: center;
  box-shadow: 5px 5px;
  font-size: 25px;
  align-items: center;
  /*display: block;*/
}
#mom-pic
{ 
    max-width: 300px;
    max-height: 300px;
    display:block;
    margin:auto;
}
#nana  
{
    background: white; 
    padding: 10px;
    padding-top: 30px;  
    margin: 20px; 
    width:70%;  
    border:5px solid black; 
    text-align: center;
    box-shadow: 5px 5px;
    font-size: 25px;
    align-items: center;
    /*display: block;*/
}
#nana-pic
{ 
    max-width: 300px;
    max-height: 300px;
    display:block;
    margin:auto;
}
#link
{ 
    text-decoration: none; 
    color: var(--seventh-color);
    display: block;
    text-align: center;
    font-size: x-large;
}
#link:hover
{ 
    background-color: var(--third-color);
}
/*form and iframe*/
#iframe
{
   border:5px solid #000000;
   max-width: 100%;         
}

#form
{ 
    color: #000000;
}

#form-frame
{
    background-color: var(--third-color);
}
#contact-form
{
    background-color: var(--seventh-color);
    align-content: center;
    margin-left: 50px;
    border:5px solid #000000;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    color: var(--third-color);
    box-sizing: border-box;
    font-size: 15px;
}
#form-id
{
    padding:10px; 
    text-align: center; 
}
#name-id, #email-id,#message-id
{
    font-size: 20px;
    font-weight: bold;
    color:var(--primary-color);
    padding: 10px;
}
button[type="submit"] {
    color: var(--third-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--third-color);
    color: var(--fifth-color);
}

#order
{ 
    text-decoration: none; 
    color: black; 
    display: block;
    text-align: center;
    font-size: x-large;
}
#name 
{ 
    font-weight: bold;
    color: var(--third-color);
    font-size: 30px;
}

/* gallery*/ 
#gallery
{ 
    max-width: 300px;
    max-height: 300px;
    border:5px solid black;
    
}
#product-gallery
{ 
    max-width: 200px;
    max-height: 300px;
}
#aboutus-gallery
{ 
    max-width: 275px; 
    max-height: 100%;
    border:3px solid black;
}
#gallery-content {
   
    display: flex;
    flex-wrap: wrap;         
    justify-content: center; 
    align-items: center;     
    margin: 0 auto;
    background-color: var(--third-color);
}
#gallery, #product-gallery, #aboutus-gallery {
    margin: 10px;
    border: 5px solid black;
    box-sizing: border-box;
}



/*products*/

#products 
{ 
    background-color:var(--third-color);
}
#products-1
{
    background-color: var(--third-color);
}

#pricing-delivery
{
  background:white;
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border:5px solid var(--primary-color);
  box-shadow: 5px 5px;
  font-size: 20px;
  text-align: center;
}
#Trucking
{
  background: white;
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border:5px solid var(--primary-color);
  box-shadow: 5px 5px;
  font-size: 20px;
  text-align: center;
}
#Pallets
{
  background:white; 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border:5px solid var(--primary-color);
  box-shadow: 5px 5px;
  font-size: 20px;
  text-align: center;
}
 ul
{ 
   list-style-type: none;
   text-align: center;
}
li {
    line-height: 1.8; 
}
#product-pic
{ 
    max-width: 100%;
}




 


/*reviews*/
company
{
  background: white; 
  padding: 10px; 
  margin: 20px; 
  width:70%; 
  border:5px solid var(--primary-color);
  box-shadow: 5px 5px;
}

h3 
{ 
    color:var(--third-color); 
    font-weight: bold;
    font-size: 26px;
   font: modern serif; 
}
#reviewP
{
    font-size: 20px;
}
#reviewerP
{ 
    font-size: 20px;
}

#reviews-section
{ 
    background-color:var(--third-color);
}

img
{
   max-height: 300px;
   max-width: 100%; 
}





/* apply to 600px or bigger */
@media only screen and (min-width:600px){
    #main-nav li
    {
        flex:1;
    }
    #main-nav ul
    {
        display: flex;
    }
    .columns
    { 
        display:flex; 
    }
    
    .one
    { 
        flex:1;
    }
    .two
    { 
        flex:2; 
    }
    .three
    { 
        flex:3; 
    }
    .four
    { 
        flex:4; 
    }

    .five {
        flex:5;
    }
    #main_nav li{ 
        flex:1;
    }
    #content-8b
    { 
        display:flex;
    }
    #image1
    { 
        display: flex;
    }
    #image
    { 
        display: flex;
    }
    
#header
{ 
    display: flex; 
}
#home-pic 
{
    max-width:100%;
}
#iframe
{ 
    display: flex;
}

   
#toggle-nav {
    display:none;
  } 

  #papa  
  { 
    /*display: flex;*/  
  }
  #nana  
  { 
    /*display: flex;*/
  }
  #mom  
  { 
    /*display: flex;*/
  }
  #contact-us
  { 
    /*display: flex;*/
  }
  contact-form
  { 
    display: flex;
  }

}

